/*Globals*/
@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700';

html body {
	font-family: 'Inconsolata', monospace;
}

a, a:hover { 
	text-decoration: none;
	color: inherit;
}

.container-fluid, .row {
	padding: 0;
	margin: 0;
}

/*Index Page Styles*/
/*Hero Section*/
.hero {
	height: 100vh;
	background-image: url('/images/the-room.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
}

/*Social Section*/
.social-section {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.social-block {
	text-align: center;
}

.social-block img {
	height: 40px;
}

/*About Section*/
.about{
	background-color: #626263;
	height: 500px;
}

.about-pic {
	height: 500px;
	background-image: url('/images/greg.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
}

.about-content {
	padding-left: 25px;
	padding-top: 85px;
	color: white;
}

.about-header {
	font-size: 45px;
	font-weight: 700;
}

.about-summary {
	font-size: 25px;
	font-weight: 400;
}

/*Index Projects Section*/
.projects-intro {
	height: 450px;
	background-image: url('/images/projects.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
}

.project-box {
	height: 550px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: transparent;
}

.project-box:hover {
  	transform: scale(1.01);
  	color: white;
}

.project-overlay {
	background-color: transparent;
	height: 550px;
}

.project-overlay:hover {
	background-color: #2a2a2a;
	opacity: .9;
	height: 550px;
}

.project-header {
	padding-top: 135px;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 0px;
}

.project-tagline {
	font-size: 25px;
	font-weight: 400;
}

.project-tools {
	margin-top: 50px;
	font-size: 25px;
	font-weight: 400;
	font-weight: 400;
	display: inline-block;
}

/*Project Page Styles*/
/*Hero Section*/
.show-content {
	background-color: #626263;
}

.project-left{
	padding: 0;
	background-color: white;
}

.project-pane {
	background-color: #626263;
	color: white;
	height: 100%;
}

.project-summary {
	background-color: white;
}

.back-container {
	text-align: right;
	padding: 20px 5px 20px 20px;
}

.back-btn {
	border: 1px solid white;
	color: white;
	background-color: #626263;
	width: 100px;
}

.back-btn:hover {
	border: 1px solid white;
	color: #626263;
	background-color: white;
	width: 100px;
}

.project-title {
	text-align: center;
	margin: 40px 0 40px 0;
}

.project-title h3 {
	font-size: 3vw;
	font-weight: 700;
}

.project-title p {
	font-size: 1.3vw;
	font-weight: 400;
}

.project-details {
	text-align: center;
}

.project-details h3 {
	font-size: 1.6vw;
	font-weight: 700;
}

.project-details p {
	font-size: 1.1vw;
	margin-bottom: 35px;
}

.tools-list {
	list-style: none;
	margin-left: 0;
}

.tools-list li {
	display: inline-block;
}

.project-links {
	margin-top: 50px;
}

.project-links a, .project-links a:hover, .project-links a:visited, .project-links a:active {
	text-decoration: none;
	color: white;
	font-size: 1.1vw;
}

.project-links ul {
	list-style: none;
	padding-left: 0;
	display: inline-block;
}

.project-links li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.project-icon {
	height: 30px;
}

.project-summary {
	padding: 50px 50px 30px 50px;
	font-size: 1.5vw;
}