/*Globals*/
@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700';

html body {
	font-family: 'Inconsolata', monospace;
}

a, a:hover { 
	text-decoration: none;
	color: inherit;
}

.container-fluid {
	padding: 0;
}

/*Index Page*/
/*Hero Section*/
.hero {
	height: 100vh;
	background-image: url('/images/the-room.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
}

/*Social Section*/
.social-section {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.social-block {
	text-align: center;
}

.social-block img {
	height: 40px;
}

/*About Section*/
.about{
	background-color: #626263;
	height: 500px;
}

.about-pic {
	height: 500px;
	background-image: url('/images/greg.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
}

.about-content {
	padding-left: 25px;
	padding-top: 85px;
	color: white;
}

.about-header {
	font-size: 45px;
	font-weight: 700;
}

.about-summary {
	font-size: 25px;
	font-weight: 400;
}

/*Projects Section*/
.projects-intro {
	height: 450px;
	background-image: url('/images/projects.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
}

.project-box {
	height: 500px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: transparent;
}

.project-box:hover {
  	transform: scale(1.01);
  	color: white;
}

.project-overlay {
	background-color: transparent;
	height: 500px;
}

.project-overlay:hover {
	background-color: #2a2a2a;
	opacity: .9;
	height: 500px;
}

.project-header {
	padding-top: 135px;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 0px;
}

.project-tagline {
	font-size: 25px;
	font-weight: 400;
}

.project-tools {
	margin-top: 50px;
	font-size: 30px;
	font-weight: 400;
	font-weight: 400;
	display: inline-block;
}